<div style="width: 300px;text-align: left;text-indent: 2em">
    <p style="text-indent: 0em">尊敬的码市用户：</p>
    <p>您好！欢迎您使用码市平台！</p>
    <p>基于保障用户资金安全的原则，码市平台需要对涉及资金往来的用户进行身份认证。 为使您更好地使用码市平台，请您认真阅读并遵守《码市平台身份认证说明》（以下简称“本说明”）。</p>
    <p>用户应保证其提供给码市平台的所有资料和信息的真实性、合法性、准确性和有效性； 否则，码市平台有权终止和取消用户通过码市平台获取的服务和酬金。
        因用户提供的资料偏差给码市平台或第三方造成损害的，该用户应依法承担相应的责任。</p>
    <p>保护用户隐私信息是码市平台的一项基本原则，码市平台会采取合理有效的措施确保用户信息的安全性，请您放心！ 除法律法规规定的情形外，未经用户许可
        码市平台绝不会向任何第三方泄漏用户的资料和信息。</p>
    <p>用户理解并同意： 授权码市平台对其提交的资料和信息进行甄别核实； 码市平台基于法律法规对已授权的用户提供的资料和信息进行身份审核和认证。</p>
    <p>感谢您的配合，祝您顺利通过认证！</p>
    <p style="text-align: right">Coding 码市团队</p>
</div>